env/
.venv/
venv/
*.sqlite3
*.sqlite3-journal
*.log
__pycache__/
*.pyc
.git/
.github/
media/
uploads/
results/
.env
.agentsecrets
**/tempCodeRunnerFile.py
celerybeat-schedule
celerybeat.pid
*.rdb
*.aof
